<div class = 'intro'>
	<h3>These days, financing the purchase of a home can be very stressful. From the very beginning, lenders will need paystubs, tax returns, bank statements, credit reports, etc. It will require a lot of time on your behalf and even then, you still may not end up qualifying for the home you want. Often times, people will shop around for a loan and end up giving all of this information out multiple times over.</h3>
</div>

<div class = 'intro'>
	<h3>If that seems a little ridiculous to you, then we now have something in common. When it's this early in the game, no one needs a social security number, a birth date, or any other personal information. They dont need to sort through your tax returns for the last two years just to see if you qualify.</h3>
</div>

<div class = 'intro'>
	<h3> By using this site, you will be able to get a great idea of whether or not you can qualify for your desired price range with out having to give up any personal information!</h3>
</div>

<div class = 'intro'>
	<h3>Click on the borrower tab to begin!</h3>
</div>

<li><a href="/create">Create a Borrower</a></li>