<div class = "container">

	<div class = "page_text">
		<h3> Welcome to Qualifi! The place where we you can find out if you pre-qualify for a loan with out needing to give up much personal information. </h3>
	</div>

	<div class = 'page_text'>
		<h3>Let's be honest, Banks are a pain in the ass so why not get started here. Click on the create a borrower link below to get started!</h3>
	</div>

	<form method = 'get' action = '/create'>
		<input class = 'create_borrower center-block' type = 'submit' value = 'Create a Borrower'>
	</form>
</div>

