<div class="no_qual_main_page container">

<div class = "sorry col-md-12 text-center">
	<h1> Congratulations!</h1> 
	<h2> You Pre-qualify for a mortgage!!! </h2>
</div>

<div class = "sorry col-md-12 text-center" >
	<h2 id= "sorry_text"> Please see below for a list of documentation that you will need to bring to your lender.</h2>
</div>

<div class = "dti col-md-12 text-center">
		
		<div class = "noq4 col-md-12 text-center">
			<h3> Looking for a great lender?</h3>
				<div class = "img-responsive">
				<img class = "img-rounded" id = "jenni" src = http://i.imgur.com/gFD4KID.jpg>
				</div>
				<a id = "ashley" href="https://www.linkedin.com/in/jennifer-smith-813762101"> Meet Jennifer! </a>
		</div>
</div>

<div class = "dti col-md-12 text-center">
		
		<div class = "noq4 col-md-12 text-center">
			<h3> Looking for a great realtor?</h3>
				<div class = "img-responsive">
				<img class = "img-circle" id = "ashley" src = http://i.imgur.com/ZA0tAwB.jpg>
				</div>
				<a id = "ashley" href="http://www.trulia.com/profile/ashley-willcutt-agent-greenwood-village-co-zgt8xxx0/overview"> Meet Ashley! </a>
		</div>
</div>
</div>

<div class="container text-center">
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-6">
          <form class = 'allborrowersbtn' method= submit action = '/borrowers'>
                <input class = 'create_borrower1 form-control' type = 'submit' value = 'Borrower Profile'>
         </form>
       </div>

        <div class="col-sm-6">
          <form class = 'allborrowersbtn' method= submit action = '/'>
                <input class = 'create_borrower1 form-control' type = 'submit' value = 'Home'>
         </form>
       </div>
     </div>
   </div> 
</div>
