* {
  line-height: 1.5;
  font-family: Optima; 
}
.navbar .navbar-header {

   font-family: Optima;
}
.navbar .navbar-header h5 {
  font-family: Optima;
  font-size: 30px;
}
#myNavbar {
  font-family: Optima;
  font-size: 16px;
  padding: 10px 10px;
}
.navbar-header .navbar-brand {
  height: 40px;
}

.navbar-header .navbar-toggle {
    position: relative;
    float: right;
    padding: 14px 10px;
    margin-top: 16px;
    margin-right: 15px;
    margin-bottom: 0px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

@media (min-width: 768px)
.navbar-nav>li>a {
    padding-top: 30px;
}

.allborrowersbtn input {
  /*display: inline-block;*/
  margin: 1%;
  font-family: Optima;
  background: #4dd66d;
  background-image: -webkit-linear-gradient(top, #4dd66d, #4f5c63);
  background-image: -moz-linear-gradient(top, #4dd66d, #4f5c63);
  background-image: -ms-linear-gradient(top, #4dd66d, #4f5c63);
  background-image: -o-linear-gradient(top, #4dd66d, #4f5c63);
  background-image: linear-gradient(to bottom, #4dd66d, #4f5c63);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  color: #ffffff;
  font-size: 16px;
  padding: 6px 10px 6px 10px;
  text-decoration: none;

}

.allborrowersbtn input:hover {
  background: #4f5c63;
}

label {
  color: green;
  margin: 1%;
}

.page_text {
  font-family: Optima;
  font-size: 16pt;
  margin: 1%;
  text-align: center;
}

.create_borrower {
  font-family: Optima;
  background: #4dd66d;
  background-image: -webkit-linear-gradient(top, #4dd66d, #4f5c63);
  background-image: -moz-linear-gradient(top, #4dd66d, #4f5c63);
  background-image: -ms-linear-gradient(top, #4dd66d, #4f5c63);
  background-image: -o-linear-gradient(top, #4dd66d, #4f5c63);
  background-image: linear-gradient(to bottom, #4dd66d, #4f5c63);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 20px;
  color: #ffffff;
  font-size: 20px;
  padding: 3px 20px 3px 20px;
  text-decoration: none;
  align: center;
}

.create_borrower:hover {
  background: #4f5c63;
  text-decoration: none;
}

input, select {
  display: block;
}

.row .button {
width: 30%
}

.dti {
  border: 3pt solid black;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 20px;
  padding: 10px 0px 10px 0px;
  margin: 18px 0px 0px 0px;
  background: #bdc3c7;
}

.no_qual_main_page {
  background-color: #d6f5e0;
}


.create_form .panel-group .panel-default .panel-heading {
    color: white;
    background-color: #9d9d9d;
    border-color: #ddd;
    font-size: 28px;

}
.container .panel-title{
    color: white;
    background-color: #9d9d9d;
    border-color: #ddd;
    padding-top: 20px;
    font-size: 28px;
    text-align: center;
}
.panel .panel-heading{
    color: white;
    background-color: #9d9d9d;
    border-color: #ddd;
    padding: 0px 0px 0px 0px;

}

#dt {
  color:white;
  font-size: 28px;
}

#sorry_text {
  font-size: 14pt;
}

#ashley {  
  font-size: 18pt;
}
#franklin {
}

#edit {
  color: red;
}
.calc {
  margin-bottom: 3px;
}